

body{
  margin: 0;
  padding: 0;
}


#header{
  display: inline-flex;
  border-bottom: solid black 1px;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  flex-wrap: nowrap;
  align-items: center;
}


 ul{
   list-style-type: none;
 }

li{
  display: inline;
  margin: auto 10px;
  color: black;
}

.box-two p{
  color: mediumaquamarine;
}

.box-one{
  margin: 15px;
  margin-left: 20px;
}

.box-two{
  margin-left: 10px;
  white-space: nowrap;
}

.box-three{
  white-space: nowrap;
  margin-left: auto;
  margin-right: 30px;
}

.box-three a{
  color: black;
}


#content{
  display: inline-flex;
  width: 100%;
}

div{
  border: solid black 0.5px;
}

.column-large{
  width: 630px;
  margin: 0 auto;
}

.column-medium{
  width: 300px;
  margin: 0 auto;

}

.column-small{
  width: 240px;
  margin: 0 auto;

}
